</div>
<footer class="footer">
	<div class="footer_top">
		<div class="block_inner">
			<div class="logo">
				<a href="main.html">
					<img src="files/logo_footer.png" alt="">
				</a>
			</div>
			<div class="footer_menu">
				<ul>
					<li><a href="main.html">Главная</a></li>
					<li><a href="">О нас</a></li>
					<li><a href="">Оплата и доставка</a></li>
					<li><a href="">Акции</a></li>
					<li><a href="news-list.html">Новости</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
			</div>
			<div class="contacts_block">
				<div class="item">
					<div class="name">Офис</div>
					<div class="body">г. Новосибирск, ул. Станционная, 78, площадь 360 кв.м.</div>
				</div>
				<div class="item phone">
					<div class="name">Телефон</div>
					<div class="body"><a href="tel:8 (3852) 50-60-91">8 (3852) 50-60-91</a><br>Ежедневно с 9:00 до 18:00</div>
				</div>
				<div class="item">
					<div class="name">Склад</div>
					<div class="body">г. Новосибирск, ул. Станционная, 78</div>
				</div>
			</div>
			<div class="text_footer">
				<div class="body">Вся информация на странице предназначена только для ознакомления и носит справочный характер, не является публичной офертой или коммерческим предложением.</div>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="block_inner">
			<div class="copy">© 2023 Маслодон</div>
			<div class="dev_copy">Разработка сайта  —  <a href="">Контора Громова</a></div>
		</div>
	</div>
</footer>					
</div>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>