include _header.jade
<div class="top_slider_wr">
    <div class="swiper mySwiper_images" data-id="mySwiper_images" data-arrow="images">
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="block_inner">
                    <div class="left">
                        <div class="inner">
                            <div class="title">Примерный заголовок на баннере</div>
                            <div class="text">Примерный текст на баннере под заголовком для примера</div>
                            <a href="" class="btn_button">Узнать подробнее</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="image">
                            <div class="bg" style="background-image: url(files/slide.jpg);"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_inner">
                    <div class="left">
                        <div class="inner">
                            <div class="title">Lorem ipsum dolor sit amet </div>
                            <div class="text">Примерный текст на баннере под заголовком для примера</div>
                            <a href="" class="btn_button">Узнать подробнее</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="image">
                            <div class="bg" style="background-image: url(files/slide.jpg);"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="block_inner">
                    <div class="left">
                        <div class="inner">
                            <div class="title">Примерный заголовок на баннере</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</div>
                            <a href="" class="btn_button">Узнать подробнее</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="image">
                            <div class="bg" style="background-image: url(files/slide.jpg);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category_block_wr">
    <div class="block_inner">
        <a href="" class="item">
            <span class="image">
                <img src="files/cat1.png" alt="">
            </span>
            <span class="right">
                <span class="name">Сервисные продукты</span>
                <span class="text">Для легковых автомобилей</span>
            </span>
        </a>
        <a href="" class="item">
            <span class="image">
                <img src="files/cat2.png" alt="">
            </span>
            <span class="right">
                <span class="name">Моторные масла</span>
                <span class="text">Для коммерческого транспорта</span>
            </span>
        </a>
        <a href="" class="item">
            <span class="image">
                <img src="files/cat3.png" alt="">
            </span>
            <span class="right">
                <span class="name">трансмиссионные масла</span>
                <span class="text">Для легковых автомобилей</span>
            </span>
        </a>
        <a href="" class="item">
            <span class="image">
                <img src="files/cat4.png" alt="">
            </span>
            <span class="right">
                <span class="name">Пластичные смазки</span>
                <span class="text">Для коммерческого транспорта</span>
            </span>
        </a>
        <a href="" class="item">
            <span class="image">
                <img src="files/cat5.png" alt="">
            </span>
            <span class="right">
                <span class="name">Дизельные двигатели грузовиков</span>
                <span class="text">Для коммерческого транспорта</span>
            </span>
        </a>
        <a href="" class="more">
            <span class="inner">
                <span class="name">Все товары в каталоге</span>
                <span class="text">Перейти в каталог</span>
            </span>
        </a>
    </div>
</div>
<div class="popular_products">
    <div class="block_inner">
        <div class="title_block">
            <div class="title">Популярные товары</div>
            <a href="" class="btn_button border_arrow">Все товары категории</a>
        </div>
        <div class="inner">
            include _product.jade
            include _product.jade
            include _product.jade
            include _product.jade
        </div>
        <a href="" class="btn_button border_arrow">Все товары категории</a>
    </div>
</div>
<div class="brend_slider_block">
    <div class="line"></div>
    <div class="block_inner">
        <div class="title_block">
            <div class="title">Работаем с лучшими <br>мировыми брендами</div>
            <div class="swiper_arrow">
                <div class="inner_arrow">
                    <div class="swiper_arrow_btn swiper-brend-prev"></div>
                    <div class="swiper_arrow_btn swiper-brend-next"></div>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="swiper mySwiper_brend" data-id="mySwiper_brend" data-arrow="brend">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="left">
                            <img src="files/br.jpg" alt="">
                        </div>
                        <div class="right">
                            <div class="name"><a href="">TEBOIL</a></div>
                            <div class="body">Компания, созданная в Финляндии в 1934 году, на первых этапах своего развития занималась поставками топлива, а в дальнейшем достигла серьезных успехов в сфере смазочных материалов.</div>
                            <div class="link"><a href="" class="btn_button border_arrow read">Все товары бренда</a></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="left">
                            <img src="files/br.jpg" alt="">
                        </div>
                        <div class="right">
                            <div class="name"><a href="">TEBOIL</a></div>
                            <div class="body">Компания, созданная в Финляндии в 1934 году, на первых этапах своего развития занималась поставками топлива, а в дальнейшем достигла серьезных успехов в сфере смазочных материалов.</div>
                            <div class="link"><a href="" class="btn_button border_arrow read">Все товары бренда</a></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="left">
                            <img src="files/br.jpg" alt="">
                        </div>
                        <div class="right">
                            <div class="name"><a href="">TEBOIL</a></div>
                            <div class="body">Компания, созданная в Финляндии в 1934 году, на первых этапах своего развития занималась поставками топлива, а в дальнейшем достигла серьезных успехов в сфере смазочных материалов.</div>
                            <div class="link"><a href="" class="btn_button border_arrow read">Все товары бренда</a></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="left">
                            <img src="files/br.jpg" alt="">
                        </div>
                        <div class="right">
                            <div class="name"><a href="">TEBOIL</a></div>
                            <div class="body">Компания, созданная в Финляндии в 1934 году, на первых этапах своего развития занималась поставками топлива, а в дальнейшем достигла серьезных успехов в сфере смазочных материалов.</div>
                            <div class="link"><a href="" class="btn_button border_arrow read">Все товары бренда</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text_block">
            <div class="inner_text">
                <div class="body">Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры играет важную роль в формировании форм развития.</div>
            </div>
        </div>
    </div>
</div>
<div class="about_block_wr">
    <div class="block_inner">
        <div class="title">О нас</div>
        <div class="inner">
            <div class="main">
                <img src="files/about.jpg" alt="">
                <div class="body">
                    <p><strong style="color: #E74142;">Компания ООО «Сибиндустритехмаш» (В2В)/ ООО «Маслодом» (В2С) основана в 1998 году, и входит в ТОП самых крупных поставщиков моторного масла в России.</strong> За это время компания зарекомендовала себя, как надежный поставщик смазочных материалов и проверенный партнер для своих клиентов, в числе которых крупнейшие промышленные и транспортные, сельскохозяйственные предприятия России.</p>
                    <p>В данный момент компания является дилером смазочных материалов «Тебойл» на территории Новосибирской, Кемеровской, Томской, Омской областях, Алтайском крае и Республике Алтай, и оказывает маркетинговую поддержку от официального дистрибьютора «Тебойл». </p>
                    <p>Компания «Маслодом» стабильно развивающаяся компания с общим штатом более 100 квалифицированных специалистов. Уровень их знаний и профессионализм позволит оказать Вам необходимую консультацию и техническую поддержку при выборе продукции, поэтому не один Ваш вопрос не останется без должного внимания.</p>
                </div>
            </div>
            <div class="right">
                <div class="item">
                    <div class="icon">
                        <img src="files/icon_a1.svg" alt="">
                    </div>
                    <div class="body">
                        <div class="name">Работаем по всей россии</div>
                        <div class="text">Многолетняя история и экспертиза в производстве масел премиум-класса</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="files/icon_a2.svg" alt="">
                    </div>
                    <div class="body">
                        <div class="name">Международные стандарты качества</div>
                        <div class="text">Многолетняя история и экспертиза в производстве масел премиум-класса</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="files/icon_a3.svg" alt="">
                    </div>
                    <div class="body">
                        <div class="name">Бескомпромиссная защита двигателя</div>
                        <div class="text">Многолетняя история и экспертиза в производстве масел премиум-класса</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="files/icon_a4.svg" alt="">
                    </div>
                    <div class="body">
                        <div class="name">гарантия качества</div>
                        <div class="text">Многолетняя история и экспертиза в производстве масел премиум-класса</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vendor_block_wr">
    <div class="block_inner">
        <div class="left">
            <div class="title">Производство моторных масел в России</div>
            <div class="subtitle">Примерный подзаголовок</div>
            <div class="body">
                <p>Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры играет важную роль в формировании форм развития.</p>
                <p>Таким образом начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий. Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.</p>
                <p>Идейные соображения высшего порядка, а также новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
                <p>Таким образом начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий.</p>
            </div>
        </div>
        <div class="right"><img src="files/about2.jpg" alt=""></div>
    </div>
</div>
<div class="news_block_wr">
    <div class="block_inner">
        <div class="title_block">
            <div class="title">Новости компании</div>
            <a href="" class="btn_button border_wh_arrow">Все новости</a>
        </div>
        <div class="inner">
            include _news.jade
            include _news.jade
            include _news.jade
        </div>
    </div>
</div>
include _footer.jade