include _header.jade
<div class="page_content_wrapper">
    <div class="block_inner">
        <div class="path_block">
            <a href="">Главная</a><span>/</span>Новости
        </div>
        <div class="panel_top">
            <h1>Новости</h1>
        </div>
        <div class="content_inner_wrapper">
            <div class="right_content">
                <div class="news_list">
                    include _news.jade
                    include _news.jade
                    include _news.jade
                    include _news.jade
                    include _news.jade
                    include _news.jade
                    include _news.jade
                    include _news.jade
                    include _news.jade
                    include _news.jade
                    include _news.jade
                    include _news.jade
                </div>
                <div class="btn_nore_product btn_mobile">Ещё новости</div>
                <div class="page_list">
                    <ul>
                        <li><a href="" class="arrow arrow_left"></a></li>
                        <li><span class="number">1</span></li>
                        <li><a href="" class="number">2</a></li>
                        <li><a href="" class="number">3</a></li>
                        <li><a href="" class="number">4</a></li>
                        <li><a href="" class="arrow arrow_right"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
include _footer.jade