include _header.jade
<div class="product_page_wr">
    <div class="page_content_wrapper">
        <div class="block_inner">
            <div class="path_block">
                <a href="">Главная</a><span>/</span>Каталог товаров
            </div>
            <div class="panel_top">
                <h1>Масло моторное TEBOIL DIAMOND CARAT III 5W-30 синтетическое</h1>
            </div>
            <div class="content_inner_wrapper">
                <div class="product_main_block">
                    <div class="image_product">
                        <div class="article">Артикул: 84382948</div>
                        <div class="wish_button"></div>
                        <div class="stock">Товар в наличии</div>
                        <div class="swiper_arrow">
                            <div class="swiper_arrow_btn swiper-image-prev"></div>
                            <div class="swiper_arrow_btn swiper-image-next"></div>
                        </div>
                        <div class="swiper mySwiper_product_image" data-id="mySwiper_product_image" data-arrow="image">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="files/image.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="files/image.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="files/image.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="detals_product">
                        <div class="params_size">
                            <div class="name">Объём</div>
                            <ul>
                                <li>1л</li>
                                <li>2л</li>
                                <li class="select">3л</li>
                                <li>4л</li>
                                <li>5л</li>
                            </ul>
                        </div>
                        <div class="all_params">
                            <ul>
                                <li><span>Тип масла:</span> <strong>Полусинтетический</strong></li>
                                <li><span>Двигатель:</span> <strong>Бензиновый / Дизельный</strong></li>
                                <li><span>Вязкость по SAE:</span> <strong>10W-40</strong></li>
                                <li><span>Классификация по API:</span> <strong>SN/CF</strong></li>
                                <li><span>ACEA:</span> <strong>A3/B4</strong></li>
                                <li><span>OEM:</span> <strong>VW 502.00/505.00, MB 229.3, PSA B71 2294, 2300, Renault RN 0700/0710</strong></li>
                            </ul>
                        </div>
                        <a href="" class="download_link">Скачать техническую документацию продукта</a>
                        <div class="product_form">
                            <div class="price">
                                <div class="name">Стоимость</div>
                                <div class="current_price">9 720 ₽</div>
                                <div class="old_price"><span>10 000 ₽</span></div>
                            </div>
                            <div class="amount_product">
                                <button class="btn_button grey quantity">-</button>
                                <input type="text" value="1">
                                <button class="btn_button grey quantity">+</button>
                            </div>
                            <button class="btn_button buy"><span>Купить</span></button>       
                        </div>  
                    </div>      
                </div>              
            </div>
            <div class="preim_block_product">
                <div class="item">
                    <div class="icon">
                        <img src="files/pr1.svg" alt="">
                    </div>
                    <div class="text">
                        <div class="name">100% оригинальный товар</div>
                        <div class="body">Приобретая товар у нас, вы получаете оригинальный продукт высокого качества.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="files/pr2.svg" alt="">
                    </div>
                    <div class="text">
                        <div class="name">Надежный производитель</div>
                        <div class="body">Моторное масло на основе синтетической технологии помогает поддерживать чистоту и эффективную работу двигателя.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <img src="files/pr3.svg" alt="">
                    </div>
                    <div class="text">
                        <div class="name">Широкий ассортимент</div>
                        <div class="body">Масла для легковых автомобилей, грузовиков, мотоциклов и других транспортных средств.</div>
                    </div>
                </div>
            </div>
            <div class="tab_block_product">
                <ul class="tabs-title">
                    <li class="active"><span>Описание товара</span></li>
                </ul>
                <div class="tabs-block">
                    <div class="tabs-b active">
                        <div class="desc">
                            <p>Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. С другой стороны укрепление и развитие структуры играет важную роль в формировании форм развития.</p>
                            <p>Таким образом начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий. Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.</p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular_products">
        <div class="block_inner">
            <div class="title_block">
                <div class="title">Просмотренные товары</div>
            </div>
            <div class="inner">
                include _product.jade
                include _product.jade
                include _product.jade
            </div>
        </div>
    </div>
</div>
include _footer.jade